<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Business Profile</title>
    <link rel="stylesheet" type="text/css" href="../static/businessProf.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>


<div class="row d-flex justify-content-center page">
    <!--   LEFT-PANEL  -->
    <div class="col-3">
        <img class="rounded-circle  mx-auto d-block" src="../static/company_logo.jpg" alt="Company Logo" height="300" width="300">
        <hr width="100%">
        <div>
            <h2 class="company" style="text-align: center">Profile</h2>
            <!--   DETAILS   -->
            <hr width="100%" class="hr-text" data-content="Location">
            <h4 class="d-flex justify-content-between"><span><i class="fas fa-angle-right" style="font-size: 100%;"></i>&nbsp;&nbsp;i-Light Festival 2019</span><button class="btn btn-primary ">Bookmark</button></h4>
            <p class="lighttext">Come along and explore our annual i-Light festival at Marina bay Sands this March!!!</p>
            <!--   LOCATION   -->
            <h4 class="d-flex justify-content-between"><span><i class="fas fa-map-marker-alt" style="font-size: 80%;"></i>&nbsp;&nbsp;Marina Bay Sands</span><button class="btn btn-primary ">Locate</button></h4>
            <p class="lighttext">Address: 10 Bayfront Ave, Singapore 018956</p>
            <!--   CONTACT US   -->
            <hr width="100%" class="hr-text" data-content="Contact Us">
            <h4>Hotline : 9876 5432</h4>
            <h4>Email : ilight@business.com</h4>
            <h4>Website : <a href="#">i-Light</a></h4>
            <!--   OPENING HOURS (OPTIONAL)   --->
            <hr width="100%" class="hr-text" data-content="OPENING HOURS">
            <h4 class="date">Weekdays : 1800 - 2200</h4>
            <h4 class="date">Weekends : 1800 - 0000</h4>
            <h4 class="date">Public Holidays : --- Closed ---</h4>
            <hr>
        </div>

    <!--   RIGHT-PANEL   -->
    </div>
    <div class="'col-10">
        <hr>
        <h2 style="text-align: center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Timeline & News&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
        <!--   GALLERY   -->
        <hr width="100%" class="hr-text" data-content="Gallery">
        <div class="gallery d-flex justify-content-center">
            <img class="imageDisplay" src="../static/logo.jpg">
            <img class="imageDisplay" src="../static/logo.jpg">
            <img class="imageDisplay" src="../static/logo.jpg">
            <img class="imageDisplay" src="../static/logo.jpg">
            <img class="imageDisplay" src="../static/logo.jpg">
        </div>
        <!--   NEWS   -->
        <hr width="100%" class="hr-text" data-content="News">
        <ul class="list-unstyled center">

  <li  class="media">
    <div class="media-body">
      <h5 class="mt-0 mb-1">List-based media object</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
    </div>
  </li>

  <li class="media">
    <div class="media-body">
      <h5 class="mt-0 mb-1">List-based media object</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
    </div>
  </li>

  <li class="media">
    <div class="media-body">
      <h5 class="mt-0 mb-1">List-based media object</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
    </div>
  </li>

   <li class="media">
    <div class="media-body">
      <h5 class="mt-0 mb-1">List-based media object</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
    </div>
  </li>

     <li class="media">
    <div class="media-body">
      <h5 class="mt-0 mb-1">List-based media object</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
    </div>
  </li>

</ul>
</div>
    </div>
</div>


</body>
</html>